#### Create Formatted Prompt

In the following function we'll be merging our `prompt` and `response` columns by creating the following template:

```
<s>### Instruction:
Use the provided input to create an instruction that could have been used to generate the response with an LLM.

### Input:
{input}

### Response:
{response}</s>
```

In [ ]:
def create_prompt(sample):
  """
  Update the prompt template:
  Combine both the prompt and input into a single column.

  """
  bos_token = "<s>"
  original_system_message = "Below is an instruction that describes a task. Write a response that appropriately completes the request."
  system_message = "Use the provided input to create an instruction that could have been used to generate the response with an LLM."
  response = sample["prompt"].replace(original_system_message, "").replace("\n\n### Instruction\n", "").replace("\n### Response\n", "").strip()
  input = sample["response"]
  eos_token = "</s>"

  full_prompt = ""
  full_prompt += bos_token
  full_prompt += "### Instruction:"
  full_prompt += "\n" + system_message
  full_prompt += "\n\n### Input:"
  full_prompt += "\n" + input
  full_prompt += "\n\n### Response:"
  full_prompt += "\n" + response
  full_prompt += eos_token

  return full_prompt

In [1]:
import pandas as pd

# Load the data
df = pd.read_csv("csv/CreditCardId.csv")

df

,Prompt,Response,SQL Query
0,What are the credit card informations of the u...,the credit card with the id of 1 is a Superior...,SELECT * FROM CreditCard WHERE CreditCardID = 1
1,What are the credit card informations of the u...,the credit card with the id of 2 is a Distingu...,SELECT * FROM CreditCard WHERE CreditCardID = 2
2,What are the credit card informations of the u...,the credit card with the id of 3 is a Colonial...,SELECT * FROM CreditCard WHERE CreditCardID = 3
3,What are the credit card informations of the u...,the credit card with the id of 4 is a Colonial...,SELECT * FROM CreditCard WHERE CreditCardID = 4
4,What are the credit card informations of the u...,the credit card with the id of 5 is a Vista wi...,SELECT * FROM CreditCard WHERE CreditCardID = 5
...,...,...,...
19113,What are the credit card informations of the u...,the credit card with the id of 19114 is a Supe...,SELECT * FROM CreditCard WHERE CreditCardID = ...
19114,What are the credit card informations of the u...,the credit card with the id of 19115 is a Vist...,SELECT * FROM CreditCard WHERE CreditCardID = ...
19115,What are the credit card informations of the u...,the credit card with the id of 19116 is a Colo...,SELECT * FROM CreditCard WHERE CreditCardID = ...
19116,What are the credit card informations of the u...,the credit card with the id of 19117 is a Vist...,SELECT * FROM CreditCard WHERE CreditCardID = ...
19117,What are the credit card informations of the u...,the credit card with the id of 19118 is a Supe...,SELECT * FROM CreditCard WHERE CreditCardID = ...

In [ ]:
def create_prompt(sample):

    bos = "<s>"
    system_message = "" # add the system message here if needed
    eos = "</s>"